# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
*.pycachefile

# Virtual Environment
venv/
.env

# IDEs and Editors
.vscode/
.idea/

# Docker
.dockerignore

# Kubernetes
kubernetes/.terraform
kubernetes/terraform.tfstate
kubernetes/terraform.tfstate.backup

# Logs and Outputs
*.log
logs/
*.out
*.pid

# Other
.DS_Store
node_modules/
